doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body

  li
    a(href="/todo/add") Ajouter une tache

    li
      a(href="/users/") Liste users

    li
      a(href="/sessions/logout") Logout
block content
  h1= title

  p Editer la tache :

  form(action=action method='post')
    table(border=1)
    tr
      th message
      tr
      td
        input(name='message' value=todo.message)
    tr



    tr

    input(type='submit', value='Envoyer')
